{% extends "plantilla.html" %}
    <h1>Actualizar coche ...</h1>
    <p><strong>Fabricante:</strong></p>
    <input type="text" id="fabricante-input">
    <p><strong>Potencia:</strong></p>
    <input type="number" step="0.1" min="0" id="potencia-input">
    <p><strong>Centímetros cúbicos:</strong></p>
    <input type="number" step="0.1" min="0" id="cc-input">
    <p><strong>Color:</strong></p>
    <input type="text" id="color-input">
    <p><strong>Máximo de pasajeros:</strong></p>
    <input type="number" step="1" min="0" id="pasajeros-input">
    <p><strong>Peso:</strong></p>
    <input type="number" step="0.1" min="0" id="peso-input">
    <br>
    <button>Actualizar coche</button>