{% extends 'plantilla.html' %}
{% block content %}
    <h1>Comercial: {{ com.nombre}}</h1>
    <p><strong>Apellido1:</strong>{{ com.apellido1 }}</p>
    <p><strong>Apellido2:</strong>{{ com.apellido2 }}</p>
    <p><strong>Fecha de incorporación:</strong>{{ com.fecha_incorporacion }}</p>
    <p><strong>Comisión:</strong>{{ com.comision }}</p>
    <h3>Acciones:</h3>
    <a href="{% url 'modCom' com.id %}">Actualizar comercial</a>
    <a href="{% url 'eliminar_com' com.id %}">Borrar comercial</a>
    <a href="{% url 'nuevoCom' %}">Insertar nuevo comercial</a>

{% endblock %}