{% extends 'plantilla.html' %}
{% block content %}
    <h1>Modelo de coche: {{ coche.modelo}}</h1>
    <p><strong>Fabricante:</strong>{{ coche.fabricante }}</p>
    <p><strong>Potencia:</strong>{{ coche.caballos }}</p>
    <p><strong>Centímetros cúbicos:</strong>{{ coche.cencubicos }}</p>
    <p><strong>Color:</strong>{{ coche.color }}</p>
    <p><strong>Máximo de pasajeros:</strong>{{ coche.npasajeros }}</p>
    <p><strong>Peso:</strong>{{ coche.peso }}</p>
    <h3>Acciones:</h3>
    <a href="{% url 'actualizar' coche.id %}">Actualizar coche</a>   <a href="{% url 'eliminar' coche.id %}">Borrar coche</a>   <a href="{% url 'nuevo' %}">Insertar nuevo coche</a>    <a href="{% url 'verTodos' %}">Ver lista de coches</a>

{% endblock %}
