<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concesionario</title>
</head>
<body>
    <h1>Modelo de coche: ...</h1>
    <p><strong>Fabricante:</strong></p>
    <p><strong>Potencia:</strong></p>
    <p><strong>Centímetros cúbicos:</strong></p>
    <p><strong>Color:</strong></p>
    <p><strong>Máximo de pasajeros:</strong></p>
    <p><strong>Peso:</strong></p>
    <h3>Acciones:</h3>
    <a href="#">Actualizar coche</a>   <a href="#">Borrar coche</a>   <a href="#">Insertar nuevo coche</a>    <a href="#">Ver lista de coches</a>
</body>
</html>
